version: "3"

services:

    web:
        depends_on:
            - database
        ports:
            - "80:80"
        environment:
            APP_ENV: dev

    database:
        image: mysql:5.7
        volumes:
            - ./docker:/var/lib/mysql
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: app_database

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        depends_on:
            - database
        ports:
            - "8080:80"
        environment:
            MYSQL_ROOT_PASSWORD: root
            PMA_HOST: database
