version: "3"

services:

    web:
        image: cvilleger/disneyland
        environment:
            APP_ENV: prod
            DATABASE_URL: mysql://root:root@database:3306/app_database
            APP_AUTHORIZATION_URL:
            APP_AUTHORIZATION_BODY:
            APP_DISNEY1_URL:
            APP_DISNEY2_URL:
        ports:
            - "443:443"
