version: "3"

services:

    web:
        image: webdevops/php-nginx:7.2
        depends_on:
            - database
        ports:
            - "80:80"
        environment:
            APP_ENV: prod
